@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: "Lexend", sans-serif;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.ImagemDesaparece {
    display: none;
}

img {
    border-radius: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    border-style: none;
    background-color: rgb(240, 121, 9);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 435px) {
    img {
        width: 350px;
    }
}
